---
import { GLAZE_GALLERY_IMAGES_URL } from "astro:env/server";
import { glaze1Key, glaze2Key } from "@/constants";
import glazeNames from "@/data/glaze-names.json";
import glazeComboInfo from "@/data/glaze-combo-info.json";
import imagesLow from "@/data/images-low.json";
import { FlipIcon } from "@/components/icons";
import { WarningIcons } from "@/components";

interface Props {
  glazeCombo: string;
}

const { glazeCombo } = Astro.props;

const [glaze1, glaze2] = glazeCombo.split("-");
const glaze1Name = glazeNames[glaze1 as keyof typeof glazeNames];
const glaze2Name = glazeNames[glaze2 as keyof typeof glazeNames];
const caption = `${glaze1Name} \\ ${glaze2Name}`;

const frontImage = `${glazeCombo as keyof typeof glazeComboInfo}-front` as const;
const frontImageDir = imagesLow[frontImage];
const srcFront = `${GLAZE_GALLERY_IMAGES_URL}/${frontImageDir}/${frontImage}-low.webp`;

const backImage = `${glazeCombo as keyof typeof glazeComboInfo}-back` as const;
const backImageDir = backImage in imagesLow ? imagesLow[backImage as keyof typeof imagesLow] : null;
const srcBack = backImageDir
  ? `${GLAZE_GALLERY_IMAGES_URL}/${backImageDir}/${backImage}-low.webp`
  : null;

const defaultSelectedGlaze1 = Astro.url.searchParams.get(glaze1Key);
const defaultSelectedGlaze2 = Astro.url.searchParams.get(glaze2Key);
const defaultShow =
  (defaultSelectedGlaze1 === null || defaultSelectedGlaze1 === glaze1) &&
  (defaultSelectedGlaze2 === null || defaultSelectedGlaze2 === glaze2);
---

<div
  id={glazeCombo}
  class="glaze-tile perspective-[150rem]"
  style={`display: ${defaultShow ? "block" : "none"};`}
>
  <div class="glaze-tile-inner relative duration-500 transform-3d">
    <div class="relative overflow-hidden rounded-lg backface-hidden">
      <img loading="lazy" src={srcFront} alt={`${caption} Front`} class="w-full" />
      {
        srcBack && (
          <div class="flip-icon-front absolute top-2 right-2 cursor-pointer">
            <FlipIcon />
          </div>
        )
      }
      <div class="flex items-center gap-3 bg-stone-200 px-3 py-1.5">
        <div class="flex-1">
          <WarningIcons {glazeCombo} />
        </div>
        <div>{caption}</div>
        <div class="flex-1"></div>
      </div>
    </div>
    {
      srcBack && (
        <div class="absolute top-0 left-0 rotate-y-180 overflow-hidden rounded-lg backface-hidden">
          <img loading="lazy" src={srcBack} alt={`${caption} Back`} class="w-full" />
          <div class="flip-icon-back absolute top-2 right-2 rotate-y-180 cursor-pointer">
            <FlipIcon />
          </div>
          <div class="flex items-center gap-3 bg-stone-200 px-3 py-1.5">
            <div class="flex-1">
              <WarningIcons {glazeCombo} />
            </div>
            <div>{caption}</div>
            <div class="flex-1" />
          </div>
        </div>
      )
    }
  </div>
</div>
