---
import glazeNames from "@/data/glaze-names.json";

interface Props {
  name: string;
  label: string;
}

const { name, label } = Astro.props;

const defaultGlaze = Astro.url.searchParams.get(name) ?? "any";
---

<div class="flex items-center gap-2">
  <label for={name}>{label}</label>
  <select name={name} id={name} class="rounded-lg bg-stone-200 px-3 py-1.5">
    <option value="any" selected={defaultGlaze === "any"}>Any</option>
    {
      Object.entries(glazeNames).map(([glaze, glazeName]) => (
        <option value={glaze} selected={defaultGlaze === glaze}>
          {glazeName}
        </option>
      ))
    }
  </select>
</div>
